/* --- IBM PLEX SANS --- */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../public/typefaces/IBM-Plex-Sans/IBMPlexSans-Regular.woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../public/typefaces/IBM-Plex-Sans/IBMPlexSans-Italic.woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../public/typefaces/IBM-Plex-Sans/IBMPlexSans-Medium.woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 500;
  src: url('../public/typefaces/IBM-Plex-Sans/IBMPlexSans-MediumItalic.woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../public/typefaces/IBM-Plex-Sans/IBMPlexSans-Bold.woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../public/typefaces/IBM-Plex-Sans/IBMPlexSans-BoldItalic.woff2');
}

/* --- IBM PLEX MONO --- */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../public/typefaces/IBM-Plex-Mono/IBMPlexMono-Regular.woff2');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: url('../public/typefaces/IBM-Plex-Mono/IBMPlexMono-Italic.woff2');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  src: url('../public/typefaces/IBM-Plex-Mono/IBMPlexMono-Medium.woff2');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 500;
  src: url('../public/typefaces/IBM-Plex-Mono/IBMPlexMono-MediumItalic.woff2');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../public/typefaces/IBM-Plex-Mono/IBMPlexMono-Bold.woff2');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 700;
  src: url('../public/typefaces/IBM-Plex-Mono/IBMPlexMono-BoldItalic.woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  * {
    @apply box-border;
  }

  html {
    @apply antialiased text-black font-sans text-base;

  }

  body {
    @apply bg-grey-100;
  }

  html.dark {
    @apply text-white;
  }

  html.dark body {
    @apply bg-black;
  }
}

.my-masonry-grid {
  display: flex;
  margin-left: -64px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 64px; /* gutter size */
  background-clip: padding-box;
}
